{% extends "base_site.html" %}

{% block title %}Edit V-Host{% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>V-Host Editor</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2><small>edit data of the V-Host {{ vhostdata.name }}</small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" action="/profiles/vhost_{% if vhostdata!=None %}update{% else %}add{% endif %}" method="post">

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Name <span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input class="form-control col-md-7 col-xs-12" required="required" type="text" name="name" value="{{ vhostdata.name }}" {% if vhostdata!=None %}readonly{% endif %}>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >IP <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input class="form-control col-md-7 col-xs-12" required="required" type="text" name="ip" value="{{ vhostdata.ip }}">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Sudoer <span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input class="form-control col-md-7 col-xs-12" required="required" type="text" name="sudoer" value="{{ vhostdata.sudoer }}">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">NIC {% if vhostdata!=None %}<span class="required">*</span>{% endif %}
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
{% if nicdata!=None %}
                  <select class="form-control col-md-7 col-xs-12" name="nic" class="form-control" required>
                    <option value="">Choose..</option>
    {% for nc in nicdata %}
                    <option value="{{ nc }}" {% if nc == vhostdata.nic %}selected{% endif %}>{{ nc }}</option>
    {% endfor %}
                  </select>
{% else %}
                  <input class="form-control col-md-7 col-xs-12" type="text" name="nic" value="{{ vhostdata.nic }}">
{% endif %}
                </div>
              </div>
              <div class="form-group">
                  <input name="disabled" type="hidden" value="{{ vhostdata.disabled }}" >
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <button class="btn btn-primary" type="button" onclick="javascript:window.history.back();">Cancel</button>
                  <button class="btn btn-primary" type="reset">Reset</button>
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}
